<nav>
   <label for="show-menu" class="show-menu">Show Menu</label>
   <input type="checkbox" id="show-menu" >
   <ul>
      {% if page.url == '/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/" }}">Home</a></li>
      
      {% if page.url == '/about/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/about/" }}">About</a></li>
      
      {% if page.url == '/experiments/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/experiments/" }}">Experiments</a></li>
      
      {% if page.url == '/publications/' %}<li class="active">{% else %}<li>{% endif %}
      <a href="{{ "/publications/" }}">Publications</a></li>
   </ul>
</nav>
